<mat-card class="login-container">
    <mat-card-title class="login-title">Login</mat-card-title> 
    <br>
<mat-card-content><br>
<form formGroup="form" (ngSubmit)= "submit()" class="login-container">
  <p>
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Username" formControlName="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password" color="white" formControlName="password">
    </mat-form-field>
  </p>

  <p *ngIf= "error" class="error">
    {{ error }}
  </p>

  <div class="button">
    <button type="submit" mat-button class="submit-btn">Submit</button>
  </div>

</form>
</mat-card-content>
</mat-card>
