<p>
  <mat-toolbar color="primary">

    <span class="app-name" routerLink="/app-homepage">Covid 19</span>
    <!-- <a class="app-name" routerLink="/" >Covid 19</a> -->
    <span class="example-spacer"></span>

    <!-- <button mat-icon-button color="white" aria-label="Example icon-button with heart icon">
      <mat-icon>turned_in_not</mat-icon>
    </button> -->
    &nbsp;&nbsp;
    <button mat-icon-button color="white" routerLink="/user-login">
      <mat-icon> person_pin</mat-icon>
    </button>
  </mat-toolbar>
</p>



<router-outlet></router-outlet>


