<p>
  <mat-toolbar color="primary">

    <span class="app-name">Covid 19</span>
    <span class="example-spacer"></span>

    <button mat-icon-button color="white" aria-label="Example icon-button with heart icon">
      <mat-icon>turned_in_not</mat-icon>
    </button>
    &nbsp;&nbsp;
    <button mat-icon-button color="white" aria-label="Example icon-button with share icon">
      <mat-icon> person_pin</mat-icon>
    </button>
  </mat-toolbar>
</p>



<div class="grid-container">
  <div class="grid-item"></div>
  <div class="grid-item">

    <app-info-card></app-info-card>

</div>

</div>


