

<span class="country-header">Country</span>


<div class="flex-container" >
    <mat-card *ngFor= "let country of countryList" class="country-card">
        <mat-card-header>

          <mat-card-title-group>
            
            <mat-card-title class="country-name"> <span class= "fi fi-{{getISO(country.country) | lowercase}}"></span> {{country.country}}</mat-card-title>
            <!-- <mat-card-title class="country-name">  {{country.country}}</mat-card-title> -->

            <!-- <button mat-button color="primary" (click)="getISO_1(country.country)">get ISO</button>  -->

            <!-- <mat-card-subtitle > <mat-chip class="iso_chip"> ISO code : {{getISO(country.country)  | uppercase}} </mat-chip></mat-card-subtitle> -->

            <mat-chip> ISO code : {{getISO(country.country)  | uppercase}} </mat-chip>

          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="country-deatils">
            <p> INFECTED:&nbsp; {{country.infected === null || country.infected === 'NA' ?  'No Values' : country.infected   }} </p> 

            <mat-divider></mat-divider>  <br>

            <p> RECOVERED:&nbsp; {{country.recovered === null || country.recovered === 'NA' ? 'No Values' : country.recovered }} </p>

            <mat-divider></mat-divider>  <br>

            <p> DESEASED:&nbsp; {{country.deceased === null || country.deceased === 'NA' ? 'No Values': country.deceased}} </p>

            <!-- {{country | json}} -->
  


        </mat-card-content>

        <mat-card-actions align="end">
            <a mat-button href={{country.sourceUrl}} target="_blank" color="accent" matTooltip="Source link for more info"> Source <mat-icon>open_in_new</mat-icon>  </a>
           
            &nbsp;
          <div *ngIf= "isAllCountryTab !== false">
            <bookmark countryName={{country.country}}></bookmark>
          </div>
          </mat-card-actions>

      </mat-card>
  </div>