.menu-header{
    font-family: arial;
    font-size: 30px;
    text-align: left;
    // font-weight: bold;
}

.menu-style{
    background-color: #424242;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
   
}

.menu-iteam-style{
    margin: 10px;
    font-size: 25px;
}